
		    table {
		        margin-left: auto;
		        margin-right: auto;
		        width: 100%;
		        border: transparent;
		        background-color: #ffefc2;
		        border-radius: 5px;
		    }
		    td, th {
		        padding: 10px;
		    }


		    tbody tr:nth-child(even) {
		        background-color: #edd698;
		    }
		    a {
		        color: #b88a00;
		    }

			label {
			    color: #B4886B;
			    font-weight: bold;
			    display: block;
			    width: 150px;
			}

			fieldset legend {
			    background: #CCA383;
			    font-weight: bold;
			}

			fieldset label {
			    color: #B4886B;
			    font-weight: bold;
			    display: block;
			    width: 150px;
			    float: left;
			}

			input[type="submit"]{
		        border: 0px transparent;
		        border-radius: 15px;
		        font-size: 15px;
		        margin-top: 20px;
		        margin-bottom: 20px;
		        margin-left:5px;
		        margin-right:5px;
		        padding: 5px 22px;
		        font-size: 14px;
		        text-align: center;
		        color: black;
		        background-color: #bf0a0a;
		        font-family: 'Ubuntu';
		        display:inline;
		    }